.wrapper_with_padding
  #users_show.clearfix
    .user
      %h1{class: "page-header__heading"}Profile & Preferences
      %h2
        Edit #{resource_name.to_s.humanize}
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :name, required: false, autofocus: true
          = f.input :email, required: false, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            %p
              Currently waiting confirmation for: #{resource.unconfirmed_email}
          = f.input :password, label: "New Password", autocomplete: "off", hint: "Leave it blank if you don't want to change it", required: false
          = f.input :password_confirmation, label: "Confirm New Password", required: false
          = f.input :current_password, hint: "We need your current password to confirm your changes", required: false
        .form-actions
          = f.button :submit, "Update", class: 'button-tertiary'
          = link_to "Cancel", :back, class: 'button-tertiary-light'

    .button-block
      .block_label
        %p{class: "block_heading"} Delete my account
        %p{class: "block_subtext"} If you delete your account, your data will be gone forever.
      = link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'button-tertiary-light destroy'