= simple_form_for @team_member do |f|
  = f.input :company_name
  = f.input :first_name
  = f.input :last_name
  = f.input :email_address
  = f.input :phone_number
  = f.input :rate
  = f.button :submit