.wrapper_with_padding
  #team_members.clearfix
    .team_members_header
      %h1{class: "page-header__heading"}Team Members
      .new_team_member
        = link_to "Add Team Member", new_team_member_path
    - unless @team_members.blank?
      %h5{class: "tab"} Active members
      - @team_members.each do |team_member|
        %li
          .team_member
            .avatar=image_tag team_member.avatar.url(:thumb)
            %p.full_name_team_member= link_to team_member.full_name, team_member
            %p.created_at= "Created at " + time_ago_in_words(team_member.created_at) + " ago"
            = link_to "View", team_member, class: 'view_team_member'
    - else
    = render 'empty_team'