= simple_form_for @request do |f|
  = f.collection_select :team_member_id, TeamMember.where(user_id: current_user), :id, :full_name, { prompt: "Choose a member" }
  = f.input :description
  = f.input :number_of_trucks
  = f.input :address
  = f.input :date, as: :date, html5: true
  = f.input :note, as: :text
  = f.button :submit, class: "button-tertiary"