- @requests.each do |request|
  %p= link_to request.description, request
  %p= request.number_of_trucks
  %p= request.address
  %p= request.date
  - if request.team_member
    %p Assigned To
    %p= request.team_member.full_name
    %p= request.rate
  %p= time_ago_in_words(request.created_at)

= link_to "New Request", new_request_path