.wrapper_with_padding
  #requests.clearfix
    .requests_header
      %h1{class: "page-header__heading"}Job Requests
      .new_request
        = link_to "Create Request", new_request_path
    - unless @requests.blank?
      %h5{class: "tab"} Open Requests
      - @requests.each do |request|
        %li
          .request
            %p.description= link_to request.description, request
            - if !request.team_member
              %span.not_assigned Not assigned
            = link_to "View", request, class: 'view_request'
            .request_block
              - if request.team_member
                %p.assigned_to= "Assigned to "
                =image_tag request.team_member.avatar.url(:thumb), class: 'avatar'
                %p.assigned_to= link_to request.team_member.full_name, request.team_member
              %p.created_at= "Modified " + time_ago_in_words(request.updated_at) + " ago"
    - else
      = render 'empty_requests'