.wrapper_with_padding
  #request_show.clearfix
    .request
      %h1 Request details
      %p= "Created on #{@request.created_at.strftime("%B %d")} by #{@request.user.email}"
      %h2= @request.description
      .request_block
        %h4 Number of trucks
        %p= @request.number_of_trucks
      .request_block
        %h4 Address
        %p= @request.address
      .request_block
        %h4 Created on
        %p= @request.date

    - if @request.team_member
      .assigned_to
        %h4 Assigned to
      %p= @request.team_member.full_name
      %p= @request.rate

    .buttons
      = link_to "All Requests", requests_path, class: "button"
      = link_to "Edit Request", edit_request_path(@request), class: "button"
      = link_to "Delete Request", request_path(@request), method: :delete, data: { confirm: "Are you sure?" }, class: "button"